/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
.header_background {
  background-image: url(../images/cover-image-dark.png);
}
.large_label {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}
.header_text {
}
.selected_text {
  color: #000028;
  background-color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}
.subtitle {
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: #ff0070;
}
.header_rec::before {
  /* position: absolute; */
  content: "rec";
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.decorated-zone {
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: end;
  justify-content: start; */
  
}
.header_rec::after {
  position: absolute;
  width: 25px;
  height: 25px;
  inline-size: 25px;
  block-size: 25px;
  content: "";
  fill: #ff0070;
  filter: drop-shadow(0px 0px 4px #ff0070);
}
.header__theme-menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}
.header-no-bc {
  color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}
.simple-text {
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
.text_link {
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  text-shadow: 2px 2px #ff0070;
  text-decoration: none;
}
