/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя

}
*/
.page.theme-dark {
  --display-rec: block;
  --shadow-color: #ff0070;
  --corner-color: #ff0070;
  --button-color: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #ff0070;
  --logo-color: #db00ff;
  --subtitle-text-color: #000028;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
}
.large_label {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
}
.footer_label {
  color: var(--logo-color);
  text-shadow: 2px 2px 0px var(--shadow-color);
}
.page-title-colors {
  background-color: var(--accent-color);
  color: var(--title-color);
}
.page-text-color {
  color: var(--text-color);
}
.subtitle-page-color {
  color: var(--accent-color);
}
.small_title_page {
  background-color: var(--accent-color);
  color: var(--subtitle-text-color);
}

.text_link:hover {
  text-decoration-line: underline;
}

.text_link:focus-visible {
  outline: 1px solid var(--text-color);
}
.header__theme-menu-button_active:hover {
  outline: 1px solid var(--button-color, 0.4);
}
.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-position: under;
  outline: none;
}
.header_rec::before {
  text-transform: uppercase;
  content: "rec";
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  position: absolute;
  font-weight: 400;
  line-height: 25px;
  margin-right: 12px;
  right: 36px;
}
.header_rec::after {
  content: "";
  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  right: 29px;
  border-style: solid;
  height: 9px;
  width: 9px;

  margin-block-start: 8px;

  border-color: var(--accent-color);
  text-overflow: inherit;
  box-shadow: 0 0 4px 2px var(--accent-color);
}
@media (375px<= width < 768px) {
  .header_rec::before {
    text-transform: uppercase;
    content: "rec";
    color: var(--accent-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    position: absolute;
    font-weight: 400;
    line-height: 25px;
    margin-right: 12px;
    right: 26px;
  }
  .header_rec::after {
    content: "";
    background-color: var(--accent-color);
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    right: 19px;
    border-style: solid;
    height: 9px;
    width: 9px;
    margin-block-start: 8px;
    border-color: var(--accent-color);
    text-overflow: inherit;
    box-shadow: 0 0 4px 2px var(--accent-color);
  }
}
