/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
/* .header_background {
  /* background-image: url(../images/cover-image-dark.png);
} */
.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.large_label {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}
.selected_text {
  color: #000028;
  background-color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}
.subtitle {
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: #ff0070;
}
.header_rec::before {
  text-transform: uppercase;
  /* position: absolute; */
  content: "rec";
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin-inline-end: 10px;
}
/* .decorated-zone {
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: end;
  justify-content: start;} */
.header_rec::after {
  content: "";
  background-color: #ff0070;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  height: 9px;
  width: 9px;
  margin-inline-end: 7px;
  margin-block-end: 2px;
  border-color: #ff0070;
  text-overflow: inherit;
  filter: drop-shadow(0px 0px 4px #ff0070);
}
.header__theme-menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}
.header-no-bc {
  color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}
.simple-text {
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
.text_link {
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  text-shadow: 2px 2px #ff0070;
  text-decoration: none;
}

.footer_corner {
  position: relative;
}
.footer_corner::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  right: -1px;
}
.footer_corner::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  bottom: 1px;
}
.header {
  position: relative;
}
.header::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  right: -1px;
}
.header::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  bottom: 2px;
  left: -1px;
}
