/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --corner-color: #353430;
  --title-color: #353430;
  --display-rec: none;
  --shadow-color: #ff0070;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --subtitle-text-color: #353430;
  --button-color: #353430;
  --logo-color: #ffc2e6;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
}
@media (prefers-color-scheme: light) {
  :root {
    --corner-color: #353430;
    --title-color: #353430;
    --display-rec: none;
    --shadow-color: #ff0070;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --subtitle-text-color: #353430;
    --button-color: #353430;
    --logo-color: #ffc2e6;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
  }
}
/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
.header_rec {
  display: var(--display-rec);
}
.large_label {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
}
.page-title-colors {
  background-color: var(--accent-color);
  color: var(--subtitle-text-color);
}
.subtitle-page-color {
  color: var(--title-color);
}
.small_title_page {
  color: var(--subtitle-text-color);
}
.footer_label {
  text-shadow: 2px 2px 0px var(--shadow-color);
}
