/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --logo-color: #ffc2e6;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  .header-about-concenration-column {
    color: var(--text-color);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --logo-color: #ffc2e6;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
  }
}

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
/* .header__theme-menu-button {
  color: var(--text-color);
}
.header_rec::before {
  display: none;
}
.header_rec {
  display: none;
}
.header::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
.header::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}
.footer_corner::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
.footer_corner::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}
@media (375px <= width < 768px) {
  .header__theme-menu-list {
    margin-block-start: 67px;
  }
  .header::before {
    top: -67px;
    right: 0px;
  }
} */
